.cell {
  min-width: 2rem;
  min-height: 2rem;
  vertical-align: top;
  appearance: none;
  background: linear-gradient(
    48deg,
    rgba(143, 143, 142, 1) 43%,
    rgba(191, 191, 191, 1) 66%,
    rgba(143, 143, 142, 1) 85%
  );
  border-color: #d3d3d3 grey grey #d3d3d3;
  border-style: solid;
  border-width: 2px;
  outline: none;
  font-weight: bold;
}

.cell:disabled {
  opacity: 0.8;
  color: black;
  background: lightgray;
  border: 2px solid #a9a9a9;
}
